{
	"EdgeList" : 
	[
		{
			"DestVertex" : 1,
			"EdgeId" : 0,
			"OriVertex" : 0
		},
		{
			"DestVertex" : 2,
			"EdgeId" : 1,
			"OriVertex" : 1
		},
		{
			"DestVertex" : 0,
			"EdgeId" : 2,
			"OriVertex" : 2
		},
		{
			"DestVertex" : 3,
			"EdgeId" : 3,
			"OriVertex" : 2
		},
		{
			"DestVertex" : 0,
			"EdgeId" : 4,
			"OriVertex" : 3
		},
		{
			"DestVertex" : 5,
			"EdgeId" : 5,
			"OriVertex" : 4
		},
		{
			"DestVertex" : 6,
			"EdgeId" : 6,
			"OriVertex" : 5
		},
		{
			"DestVertex" : 4,
			"EdgeId" : 7,
			"OriVertex" : 6
		},
		{
			"DestVertex" : 7,
			"EdgeId" : 8,
			"OriVertex" : 6
		},
		{
			"DestVertex" : 4,
			"EdgeId" : 9,
			"OriVertex" : 7
		},
		{
			"DestVertex" : 10,
			"EdgeId" : 10,
			"OriVertex" : 11
		},
		{
			"DestVertex" : 9,
			"EdgeId" : 11,
			"OriVertex" : 10
		},
		{
			"DestVertex" : 11,
			"EdgeId" : 12,
			"OriVertex" : 9
		},
		{
			"DestVertex" : 8,
			"EdgeId" : 13,
			"OriVertex" : 9
		},
		{
			"DestVertex" : 11,
			"EdgeId" : 14,
			"OriVertex" : 8
		},
		{
			"DestVertex" : 13,
			"EdgeId" : 15,
			"OriVertex" : 12
		},
		{
			"DestVertex" : 14,
			"EdgeId" : 16,
			"OriVertex" : 13
		},
		{
			"DestVertex" : 12,
			"EdgeId" : 17,
			"OriVertex" : 14
		},
		{
			"DestVertex" : 15,
			"EdgeId" : 18,
			"OriVertex" : 14
		},
		{
			"DestVertex" : 12,
			"EdgeId" : 19,
			"OriVertex" : 15
		},
		{
			"DestVertex" : 25,
			"EdgeId" : 20,
			"OriVertex" : 24
		},
		{
			"DestVertex" : 26,
			"EdgeId" : 21,
			"OriVertex" : 25
		},
		{
			"DestVertex" : 24,
			"EdgeId" : 22,
			"OriVertex" : 26
		},
		{
			"DestVertex" : 27,
			"EdgeId" : 23,
			"OriVertex" : 26
		},
		{
			"DestVertex" : 24,
			"EdgeId" : 24,
			"OriVertex" : 27
		},
		{
			"DestVertex" : 29,
			"EdgeId" : 25,
			"OriVertex" : 28
		},
		{
			"DestVertex" : 30,
			"EdgeId" : 26,
			"OriVertex" : 29
		},
		{
			"DestVertex" : 28,
			"EdgeId" : 27,
			"OriVertex" : 30
		},
		{
			"DestVertex" : 31,
			"EdgeId" : 28,
			"OriVertex" : 30
		},
		{
			"DestVertex" : 28,
			"EdgeId" : 29,
			"OriVertex" : 31
		},
		{
			"DestVertex" : 33,
			"EdgeId" : 30,
			"OriVertex" : 32
		},
		{
			"DestVertex" : 34,
			"EdgeId" : 31,
			"OriVertex" : 33
		},
		{
			"DestVertex" : 32,
			"EdgeId" : 32,
			"OriVertex" : 34
		},
		{
			"DestVertex" : 35,
			"EdgeId" : 33,
			"OriVertex" : 34
		},
		{
			"DestVertex" : 32,
			"EdgeId" : 34,
			"OriVertex" : 35
		},
		{
			"DestVertex" : 37,
			"EdgeId" : 35,
			"OriVertex" : 36
		},
		{
			"DestVertex" : 39,
			"EdgeId" : 36,
			"OriVertex" : 37
		},
		{
			"DestVertex" : 36,
			"EdgeId" : 37,
			"OriVertex" : 39
		},
		{
			"DestVertex" : 38,
			"EdgeId" : 38,
			"OriVertex" : 39
		},
		{
			"DestVertex" : 36,
			"EdgeId" : 39,
			"OriVertex" : 38
		},
		{
			"DestVertex" : 41,
			"EdgeId" : 40,
			"OriVertex" : 39
		},
		{
			"DestVertex" : 38,
			"EdgeId" : 41,
			"OriVertex" : 41
		},
		{
			"DestVertex" : 40,
			"EdgeId" : 42,
			"OriVertex" : 41
		},
		{
			"DestVertex" : 38,
			"EdgeId" : 43,
			"OriVertex" : 40
		},
		{
			"DestVertex" : 43,
			"EdgeId" : 44,
			"OriVertex" : 41
		},
		{
			"DestVertex" : 40,
			"EdgeId" : 45,
			"OriVertex" : 43
		},
		{
			"DestVertex" : 42,
			"EdgeId" : 46,
			"OriVertex" : 43
		},
		{
			"DestVertex" : 40,
			"EdgeId" : 47,
			"OriVertex" : 42
		},
		{
			"DestVertex" : 37,
			"EdgeId" : 48,
			"OriVertex" : 43
		},
		{
			"DestVertex" : 42,
			"EdgeId" : 49,
			"OriVertex" : 37
		},
		{
			"DestVertex" : 42,
			"EdgeId" : 50,
			"OriVertex" : 36
		},
		{
			"DestVertex" : 37,
			"EdgeId" : 51,
			"OriVertex" : 41
		},
		{
			"DestVertex" : 42,
			"EdgeId" : 52,
			"OriVertex" : 38
		}
	],
	"EdgeNum" : 53,
	"FaceList" : 
	[
		{
			"EdgeId0" : 0,
			"EdgeId1" : 1,
			"EdgeId2" : 2,
			"FaceId" : 0
		},
		{
			"EdgeId0" : 2,
			"EdgeId1" : 3,
			"EdgeId2" : 4,
			"FaceId" : 1
		},
		{
			"EdgeId0" : 5,
			"EdgeId1" : 6,
			"EdgeId2" : 7,
			"FaceId" : 2
		},
		{
			"EdgeId0" : 7,
			"EdgeId1" : 8,
			"EdgeId2" : 9,
			"FaceId" : 3
		},
		{
			"EdgeId0" : 10,
			"EdgeId1" : 11,
			"EdgeId2" : 12,
			"FaceId" : 4
		},
		{
			"EdgeId0" : 12,
			"EdgeId1" : 13,
			"EdgeId2" : 14,
			"FaceId" : 5
		},
		{
			"EdgeId0" : 15,
			"EdgeId1" : 16,
			"EdgeId2" : 17,
			"FaceId" : 6
		},
		{
			"EdgeId0" : 17,
			"EdgeId1" : 18,
			"EdgeId2" : 19,
			"FaceId" : 7
		},
		{
			"EdgeId0" : 20,
			"EdgeId1" : 21,
			"EdgeId2" : 22,
			"FaceId" : 8
		},
		{
			"EdgeId0" : 22,
			"EdgeId1" : 23,
			"EdgeId2" : 24,
			"FaceId" : 9
		},
		{
			"EdgeId0" : 25,
			"EdgeId1" : 26,
			"EdgeId2" : 27,
			"FaceId" : 10
		},
		{
			"EdgeId0" : 27,
			"EdgeId1" : 28,
			"EdgeId2" : 29,
			"FaceId" : 11
		},
		{
			"EdgeId0" : 30,
			"EdgeId1" : 31,
			"EdgeId2" : 32,
			"FaceId" : 12
		},
		{
			"EdgeId0" : 32,
			"EdgeId1" : 33,
			"EdgeId2" : 34,
			"FaceId" : 13
		},
		{
			"EdgeId0" : 35,
			"EdgeId1" : 36,
			"EdgeId2" : 37,
			"FaceId" : 14
		},
		{
			"EdgeId0" : 37,
			"EdgeId1" : 38,
			"EdgeId2" : 39,
			"FaceId" : 15
		},
		{
			"EdgeId0" : 38,
			"EdgeId1" : 40,
			"EdgeId2" : 41,
			"FaceId" : 16
		},
		{
			"EdgeId0" : 41,
			"EdgeId1" : 42,
			"EdgeId2" : 43,
			"FaceId" : 17
		},
		{
			"EdgeId0" : 42,
			"EdgeId1" : 44,
			"EdgeId2" : 45,
			"FaceId" : 18
		},
		{
			"EdgeId0" : 45,
			"EdgeId1" : 46,
			"EdgeId2" : 47,
			"FaceId" : 19
		},
		{
			"EdgeId0" : 46,
			"EdgeId1" : 48,
			"EdgeId2" : 49,
			"FaceId" : 20
		},
		{
			"EdgeId0" : 49,
			"EdgeId1" : 35,
			"EdgeId2" : 50,
			"FaceId" : 21
		},
		{
			"EdgeId0" : 48,
			"EdgeId1" : 44,
			"EdgeId2" : 51,
			"FaceId" : 22
		},
		{
			"EdgeId0" : 51,
			"EdgeId1" : 40,
			"EdgeId2" : 36,
			"FaceId" : 23
		},
		{
			"EdgeId0" : 50,
			"EdgeId1" : 39,
			"EdgeId2" : 52,
			"FaceId" : 24
		},
		{
			"EdgeId0" : 52,
			"EdgeId1" : 43,
			"EdgeId2" : 47,
			"FaceId" : 25
		}
	],
	"FaceNum" : 26
}
